* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}

nav {
    padding: 2em;
    background-color: aqua;
}
nav ul {
    display: flex;
    gap: 2em;
}


nav ul a li {
    font-size: 2rem;
}
nav ul form button {
    font-size: 2rem;
    background: transparent;
    border: none;
    outline: none;
    font-family: 'times new roman', serif;
    cursor: pointer;

}
nav ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav ul a.active {
    color: rgba(0, 0, 0, 0.5);
}
section {
    padding: 2em;
}
.hide {
    display: none;
}
.products {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.products .product-container {
    border: 2px solid black;
    width: 400px;
    height: max-content;
    margin: auto;
    margin-bottom: 2em;
    padding: 1.5em 0;
}
.products h2 {
    font-size: 2rem;
    margin-bottom: 1.5em;
}

.products p {
    font-size: 1.2em;
    margin: 1em 0;
}
.products img {
    width: 300px;
    height: 300px;
    object-fit: contain;
}
.products .product-container .button {
    padding: 0.8em 1.5em;
}
.products .product-container .btn {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 1em;
    font-size: 1.2em;
}
.edit-del-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
.products .product-container a.button,
.products .product-container .del-button {
    border: 1px solid aqua;
    color: black;
    text-decoration: none;
    display: inline;
    /* margin-top: 1em; */
    background-color: transparent;
    cursor: pointer;
}
.products .product-container .del-button {
    font-size: 1em;
}

.order-button {
    width: 100%;
    padding: 1em;
    font-size:2em;
    background-color:aqua;
    border: none;
    color: black;
    text-decoration: none;
    display: inline;
    /* margin-top: 1em; */
    /* background-color: transparent; */
    cursor: pointer;
}
.form-container {
    padding: 2em;
    display: flex;
    flex-direction: column;
}
.form-container .input-container {
    display: flex;
    flex-direction: column;
}
.form-container input,
.form-container textarea {
    font-size: 1.3rem;
    padding: 0.8 1em;
    width: 100%;
    margin-bottom: 1em;
}
.form-container input:focus,
.form-container textarea:focus {
    border: 2px solid aqua;
    outline: none;
}

.form-container form button {
    display: block;
    padding: 0.5em 2em;
    margin-top: 1em;
    font-size: 1.3rem;
}

.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.error-page h1 {
    color: red;
}
@media screen and (max-width: 905px) {
    nav ul {
        flex-direction: column;
    }
}
