<%- include('../partial/header'); %>
    <div class="form-container">
        <form action="/admin-product" method="post">
            <div class="input-container">
                <label for=""><h3>Title</h3><input type="text" name="title" /></label>
                <label for=""><h3>imgURL</h3><input type="text" name="imgURL" /></label>
                <label for=""><h3>price</h3><input type="text" name="price" /></label>
                <label for=""><h3>description</h3><textarea name="desc" id="" cols="30" rows="10"></textarea></label>
            </div>
            <button type="submit">Add</button>
        </form>
    </div>
    <%- include('../partial/footer'); %>